__pycache__
src/
.idea/
.vscode/
.git
.gitignore
.DS_Store
.dockerignore
.Dockerfile
test/
venv/
dev-requirements.txt
Makefile
pip_requirements.sh
queries.sql
README.md
requirements.in
run_tests.sh
sandbox.py
test-requirements.txt
Todo.md
